<p>view-data works!</p>
<p>view-studentdeyails works!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>password</th>
            <th>name</th>
            <th>Gender</th>
            <th>Contact</th>
            <th>address</th>
            <th>City</th>
            <th>pincode</th>
            <th>Security Key</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <td> {{ adminData.id}}</td>
        <td> {{ adminData.password}}</td>
        <td> {{ adminData.name}}</td>
        <td> {{ adminData.gender}}</td>
        <td> {{ adminData.contact}}</td>
        <td> {{ adminData.address}}</td>
        <td> {{ adminData.city}}</td>
        <td> {{ adminData.pinCode}}</td>
        <td> {{ adminData.securityKey}}</td>
        <td><button class="btn btn-primary" routerLink="/getadmin">Back</button></td>

            <td>
</table>